<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha fin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proyecto of proyectos">
                <td>{{proyecto.id}}</td>
                <td>{{proyecto.nombre}}</td>
                <td>{{proyecto.descripcion}}</td>
                <td>{{proyecto.fechaInicio}}</td>
                <td>{{proyecto.fechaEntrega}}</td>
            </tr>
        </tbody>
    </table>
</div>