<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th class="col">ID</th>
                <th class="col">Nombre</th>
                <th class="col">Descripción</th>
                <th class="col">Fecha inicio</th>
                <th class="col">Fecha fin</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>